{%- comment -%} Customer registration {%- endcomment -%}
<section class="sorella-account surface-gradient">
  <div class="container container--read">
    <div class="glass-panel glass-panel--xl sorella-account__card">
      <div class="sorella-account__head">
        <span class="t-eyebrow text-gold">{{ shop.name }}</span>
        <h1 class="t-display-md">{{ 'customer.register.title' | t }}</h1>
      </div>
      {%- form 'create_customer', novalidate: 'novalidate', class: 'sorella-account__form' -%}
        {%- if form.errors -%}
          <div class="sorella-account__error t-caption">{{ form.errors | default_errors }}</div>
        {%- endif -%}
        <div class="sorella-account__row">
          <div class="sorella-field">
            <label class="sorella-field__label t-caption-strong" for="first_name">{{ 'customer.register.first_name' | t }}</label>
            <input type="text" name="customer[first_name]" id="first_name" autocomplete="given-name">
          </div>
          <div class="sorella-field">
            <label class="sorella-field__label t-caption-strong" for="last_name">{{ 'customer.register.last_name' | t }}</label>
            <input type="text" name="customer[last_name]" id="last_name" autocomplete="family-name">
          </div>
        </div>
        <div class="sorella-field">
          <label class="sorella-field__label t-caption-strong" for="register_email">{{ 'customer.login.email' | t }}</label>
          <input type="email" name="customer[email]" id="register_email" autocomplete="email" required>
        </div>
        <div class="sorella-field">
          <label class="sorella-field__label t-caption-strong" for="register_password">{{ 'customer.login.password' | t }}</label>
          <input type="password" name="customer[password]" id="register_password" autocomplete="new-password" required>
        </div>
        <button type="submit" class="btn btn--primary btn--full">{{ 'customer.register.submit' | t }}</button>
        <div class="sorella-account__links t-caption">
          <a href="{{ routes.account_login_url }}">{{ 'customer.login.title' | t }}</a>
        </div>
      {%- endform -%}
    </div>
  </div>
</section>
