{%- comment -%} Reset password {%- endcomment -%}
<section class="sorella-account surface-gradient">
  <div class="container container--read">
    <div class="glass-panel glass-panel--xl sorella-account__card">
      <div class="sorella-account__head">
        <span class="t-eyebrow text-gold">{{ shop.name }}</span>
        <h1 class="t-display-md">{{ 'customer.login.forgot' | t }}</h1>
      </div>
      {%- form 'reset_customer_password', class: 'sorella-account__form' -%}
        {%- if form.errors -%}
          <div class="sorella-account__error t-caption">{{ form.errors | default_errors }}</div>
        {%- endif -%}
        <div class="sorella-field">
          <label class="sorella-field__label t-caption-strong" for="reset_password">{{ 'customer.login.password' | t }}</label>
          <input type="password" name="customer[password]" id="reset_password" autocomplete="new-password" required>
        </div>
        <div class="sorella-field">
          <label class="sorella-field__label t-caption-strong" for="reset_password_confirm">{{ 'customer.reset.confirm_password' | t }}</label>
          <input type="password" name="customer[password_confirmation]" id="reset_password_confirm" autocomplete="new-password" required>
        </div>
        <button type="submit" class="btn btn--primary btn--full">{{ 'customer.login.submit' | t }}</button>
      {%- endform -%}
    </div>
  </div>
</section>
